footer{
	background-color: #0d121b;
	width: 100%;
	height: 150px;
  text-align: center;
  line-height: 50px;
}

footer > h3{
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
}