body{
	margin: 0;
	background-color: #0d121b;
}

.header{
	width: 100%;
	height: 150px;
	line-height: 150px;
}

.nav1{
	text-align: center;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

.a1, .a2{
	margin-left: 25px;
	margin-right: 25px;
	list-style: none;
	text-decoration: none;
	font-size: 22px;
  color: white;
}

.a2{
	color: grey;
}

.bgimage{
	background-image: url(../IMG/bgimage1.jpg);
	width: 100%;
	height: 700px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	line-height: 500px;
	text-align: center;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
}

.bgimage > h3{
	margin: 0;
}