body{
	margin: 0;
	background-color: #0d121b;
}

.portflio-section{
	display: grid;
	padding: 5px;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}

.portfolio-item{
	display: grid;
	min-height: 32vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
  transition: 0.3s;
	cursor: pointer;
	align-content: center;
}

.portfolio-item:hover{
	color: #ffec45;
	font-size: 25px;
}




/*.portfolio-item:nth-child(1){
	grid-column: 1 / 3;
}

.portfolio-item:nth-child(5){
	grid-column: 2 / 4;
}

.portfolio-item:nth-child(4){
	grid-column: 1;
	grid-row: 2 / 4;
}*/

.header{
	width: 100%;
	height: 150px;
	line-height: 150px;
}

.nav1{
	text-align: center;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

.a1, .a2{
	margin-left: 25px;
	margin-right: 25px;
	list-style: none;
	text-decoration: none;
	font-size: 22px;
  color: white;
}

.a2{
	color: grey;
}

@media screen and (min-width: 200px) and (max-width: 499px){
  .header{
  	height: 100px;

  }
}

@media screen and (min-width: 500px) and (max-width: 1199px){
	.portflio-section{
		display: grid;
	  padding: 5px;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 5px;
	}

	.portfolio-item:nth-child(9){
	  grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1200px){
	.portflio-section{
		display: grid;
	  padding: 5px;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-gap: 5px;
	}

	.portfolio-item:nth-child(1){
	  grid-column: 1 / 3;
  }

  .portfolio-item:nth-child(4){
	  grid-column: 1;
	  grid-row: 2 / 4;
  }  

  .portfolio-item:nth-child(9){
	  grid-column: 2 / 4;
  }
}

.bgimage{
	background-image: url(../IMG/bgimage.jpg);
	width: 100%;
	height: 700px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	line-height: 500px;
	text-align: center;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
}

.bgimage > h3{
	margin: 0;
}

.after{
	margin: 0;
	background-color: #0d121b;
	border-top: 2px solid black;
	width: 100%;
	height: 50px;
}