body{
	margin: 0;
	background-color: #0d121b;
}

.portflio-section{
	display: grid;
	padding: 5px;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}

.portfolio-item{
	display: grid;
	min-height: 32vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
  transition: 0.3s;
	cursor: pointer;
	align-content: center;
}

.portfolio-item:hover{
	color: #ffec45;
	font-size: 25px;
}




.portfolio-item:nth-child(1){
	grid-column: 1 / 3;
}

.portfolio-item:nth-child(5){
	grid-column: 2 / 4;
}

.portfolio-item:nth-child(4){
	grid-column: 1;
	grid-row: 2 / 4;
}

.header{
	width: 100%;
	height: 150px;
	line-height: 150px;
}

.nav1{
	text-align: center;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

.a1, .a2{
	margin-left: 25px;
	margin-right: 25px;
	list-style: none;
	text-decoration: none;
	font-size: 22px;
  color: white;
}

.a2{
	color: grey;
}

@media screen and (min-width: 500px){
	.portflio-section{
		display: grid;
	  padding: 5px;
	  grid-template-columns: repeat(4, 1fr);
	  grid-gap: 5px;
	}
}